%h3
  = volume.name_and_location

%table.volume_details.with_striping
  %thead
    %tr
      %th.index
        \#
      %th.track
        Name
      %th.artist
        Artist
      %th.vol
        Album
      %th.actions
  %tbody
    = render volume.tracks.where(artist: @artist)