- title "All Artists"

%table 
  %thead
    %tr
      %th.name
        Artist
      %th.actions
        = link_to "Add an Artist", new_artist_path, remote: true
  %tbody
    - cache cache_key_for(Artist) do
      = render @artists
