- title @artist.name


%h1
  = @artist.name

%h3
  = link_to "Back to Artists", artists_path


= render partial: "all_tracks", collection: @artist.volumes, as: :volume

= render partial: "all_tracks", collection: @track_volumes, as: :volume