- title @artist.name


%h1
  = @artist.name

%h3
  = link_to "Back to Artists", artists_path

%table
  %thead
    %tr
      %th.index
        \#
      %th.track
        Name
      %th.artist
        Artist
      %th.vol
        Album
      %th.actions
  %tbody
    = render @artist.tracks