%h1
  Music Library
  
%table#status
  %tr
    %th
      Artists
    %th
      Albums
    %th
      Tracks
  %tr
    %td
      = @artist_count
    %td
      = @album_count
    %td
      = @track_count
