- cache volume do
  %tr
    %td.loc
      = volume.location
    %td.vol
      = link_to volume.name, volume
    %td.artist
      = link_to volume.artist.name, volume.artist
    %td.actions
      = link_to "details", volume
