- title "All Volumes"

%table 
  %thead
    %tr
      %th.loc
        Location
      %th.name
        Volume
      %th.artist
        Artist(s)
      %th.actions
        = link_to "Add a Volume", new_volume_path, remote: true
  %tbody
    - cache cache_key_for(Volume) do
      = render @volumes
