- title "All Volumes"

%table.with_striping
  %thead
    %tr
      %th.loc
        Location
      %th.vol
        Volume
      %th.artist
        Artist(s)
      %th.actions
        &nbsp;
        -#= link_to "Add a Volume", new_volume_path, remote: true
  %tbody
    - cache cache_key_for(Volume) do
      = render @volumes
