table.volume_details
  width: 960px
  
  .index
    width: 20px
    text-align: right
    padding:
      right: 4px
  .track
    width: 400px
  
  .artist, .vol
    width: 300px
  
  .actions
    width: 100px
    

body.volumes
  table.volume_fields
    background: transparent
  form
    #volume_name, #token-input-volume_artist_id
      width: 300px
      text-align: left