table.volume_details
  width: 960px
  
  .index
    width: 20px
    text-align: right
    padding:
      right: 4px
  .track
    width: 400px
  
  .artist, .vol
    width: 300px
  
  .actions
    width: 100px