- title "All Categorys"

%table.with_striping
  %thead
    %tr
      %th.name
        Category
      %th.actions
        &nbsp;
  %tbody
    - cache cache_key_for(Category) do
      = render @categories
